<manifest package="com.eyestimer">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:label="EyesTimer"
        android:exported="true">

        <activity android:name=".TimerActivity"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>

</manifest>
